@import 'styles/variables';

.header {
	height: 220px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__category {
		width: 88px;
		height: 28px;
		margin-top: 30px;
		background: $colorOrange;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		font-family: $sourceSans;
		font-size: 0.875rem;
		font-weight: 700;
		color: $colorWhite;
		text-transform: uppercase;
		letter-spacing: 0.93px;
	}

	&__title {
		margin-top: 1rem;
		font-size: 1.375rem;
		line-height: 1.375rem;
		font-family: $sourceSans;
		color: $colorGreenStrong;
	}

	&__subtitle {
		margin-top: 1rem;
		font-size: 1.375rem;
		line-height: 1.375rem;
		font-style: italic;
		font-family: $sourceSans;
		color: $colorGreenStrong;
	}

	&__text {
		margin-top: 1.25rem;
		font-family: $sourceSans;
		font-size: 0.875rem;
		font-weight: 600;
		text-transform: uppercase;
		color: $colorGreenMedium;
	}
}

@media (min-width: 576px) {
	.header {
		height: 280px;

		&__category {
			width: 88px;
			height: 28px;
			margin-top: 40px;
			font-size: 0.875rem;
		}

		&__title {
			margin-top: 1.625rem;
			font-size: 2rem;
		}

		&__subtitle {
			margin-top: 1rem;
			font-size: 2rem;
			line-height: 2rem;
		}

		&__text {
			margin-top: 1.25rem;
			font-size: 1.375rem;
		}
	}
}

@media (min-width: 992px) {
	.header {
		height: 350px;

		&__category {
			margin-top: 80px;
			font-size: 0.875rem;
		}

		&__title {
			margin-top: 26px;
			font-size: 2.5rem;
			line-height: 2.5rem;
		}

		&__subtitle {
			margin-top: 26px;
			font-size: 2.5rem;
			line-height: 2.5rem;
		}

		&__text {
			margin-top: 20px;
			font-size: 1.375rem;
		}
	}
}
