// Fonts
$sourceSans: 'Source Sans Pro', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// Color Palette
$colorGreenSoft: #405457;
$colorGreenStrong: #02363d;
$colorGreenMedium: #00373e;
$colorOrange: #c05100;
$colorWhite: #ffffff;
$colorGreySoft: #e8e8e8;
$colorGreySoftSecondary: #cccccc;
$colorGreyMedium: #68737d;
$colorWhiteBackground: #f8f9f9;
$colorRed: #e25151;
